{
  position: static;
  display: block;
  font-size: 2vw;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
}

table {
  border: 2px solid blue;
}

table, td {
  border: 2px solid blue;
  border-collapse: collapse;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

<.form {

}

header, footer {
  width: 100%
}
